@font-face {
  font-family: "Iosevka";
  src: url( "/meta/fonts/IosevkaTermNerdFontMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/meta/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

:root{
  --font: "Iosevka";
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
}

body{
	max-width:40em;
	margin:0 auto;
	padding:5px;
  padding-top: 15px;
	font-family:var(--font);
	font-size:20px;
	line-height:30px;
	background-color:var(--base);
	color:var(--text);
}
header#masthead,h1,h2,h3,dt,small,.small,dl#tweetlist dt,footer,label,#commentlist ol li cite,div.blogparent,input[type="submit"],figcaption{
	font-family:var(--font);
	font-weight:normal;
	font-style:normal }
h1,h2,h3,label,header#masthead{
	line-height:1em
}
h1 {
	font-size:2em
}
h2 a{
	color:var(--text);
	text-decoration: underline
}
h2,h3{
	margin-top:2em
}
h3{
	font-size:2em
}
a{
	text-decoration:none;
	color:var(--sapphire);
	overflow-wrap:break-word;
	word-wrap:break-word
}
a:visited{
	color:var(--blue);
}
a:hover{
	text-decoration:underline
}
a[title="Julian Mo"]{
  font-size:2em;
}
li{
  font-family:var(--font);
}

/* startpage */
body#startpage{
	max-width:60em;
	margin:auto;
	padding:5px;
  padding-top: 15px;
	font-family:var(--font);
	font-size:2em;
	line-height:1.5em;
	background-color:var(base);
	color:var(--text);
}
body#startpage main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display:block;
}
body#startpage input{
  border: none;
  background: transparent;
  font-family: "JetBrains Mono Medium";
  font-size: 1em;
  color: var(--text);
  outline: none;
  caret-color: transparent;
  box-sizing: unset;
  padding-left: 1ch;
  width: 0px;
}
body#startpage div{
  display: flex;
  align-items: center;
  justify-content: center;
}
body#startpage div.search-container{
  flex-direction: row;
}
body#startpage .time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body#startpage #clock{
  color: var(--text);
  margin-right: 10px;
}
body#startpage #date{
  color: var(--text);
  margin-left: 10px;
}
body#startpage .bookmarks{
  display: flex;
  align-items: start;
  font-size: 1em;
  line-height: 1.25em;
}
body#startpage .category{
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 5em;
  width: 5em;
  padding: 15px;
  background-color: var(--mantle);
  overflow: hidden;
  align-items: initial;
  justify-content: left;
}
body#startpage .scroll{
  height: inherit;
  width: inherit;
  align-items: initial;
  overflow: scroll;
  justify-content: left;
}
body#startpage .title-uni{
  color: var(--red);
}
body#startpage .title-dev{
  color: var(--sapphire);
}
body#startpage .title-play{
  color: var(--green);
}
body#startpage .links{
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
body#startpage li{
  list-style-type: none;
}
body#startpage a{
  color: var(--text);
}
.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

