@font-face {
  font-family: "Iosevka";
  src: url( "/meta/fonts/IosevkaTermNerdFontMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/meta/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

:root{
  --font: "Iosevka";
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body{
	max-width:40em;
	margin:0 auto;
	padding:5px;
  padding-top: 15px;
	font-family:var(--font);
	font-size:20px;
	line-height:30px;
	background-color:var(--base);
	color:var(--text);
}
header#masthead,h1,h2,h3,dt,small,.small,dl#tweetlist dt,footer,label,#commentlist ol li cite,div.blogparent,input[type="submit"],figcaption{
	font-family:var(--font);
	font-weight:normal;
	font-style:normal }
h1,h2,h3,label,header#masthead{
	line-height:1em
}
h1 {
	font-size:2em
}
h2 a{
	color:var(--text);
	text-decoration: underline
}
h2,h3{
	margin-top:2em
}
h3{
	font-size:2em
}
a{
	text-decoration:none;
	color:var(--sapphire);
	overflow-wrap:break-word;
	word-wrap:break-word
}
a:visited{
	color:var(--blue);
}
a:hover{
	text-decoration:underline
}
a[title="Julian Mo"]{
  font-size:2em;
}
li{
  font-family:var(--font);
}

/* startpage */
body#startpage{
	max-width:60em;
	margin:auto;
	padding:5px;
  padding-top: 15px;
	font-family:var(--font);
	font-size:2em;
	line-height:1.5em;
	background-color:var(base);
	color:var(--text);
}
body#startpage main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display:block;
}
body#startpage input{
  border: none;
  background: transparent;
  font-family: "JetBrains Mono Medium";
  font-size: 1em;
  color: var(--text);
  outline: none;
  caret-color: transparent;
  box-sizing: unset;
  padding-left: 1ch;
  width: 0px;
}
body#startpage div{
  display: flex;
  align-items: center;
  justify-content: center;
}
body#startpage div.search-container{
  flex-direction: row;
}
body#startpage .time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body#startpage #clock{
  color: var(--text);
  margin-right: 10px;
}
body#startpage #date{
  color: var(--text);
  margin-left: 10px;
}
body#startpage .bookmarks{
  display: flex;
  align-items: start;
  font-size: 1em;
  line-height: 1.25em;
}
body#startpage .category{
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 5em;
  width: 5em;
  padding: 15px;
  background-color: var(--mantle);
  overflow: hidden;
  align-items: initial;
  justify-content: left;
}
body#startpage .scroll{
  height: inherit;
  width: inherit;
  align-items: initial;
  overflow: scroll;
  justify-content: left;
}
body#startpage .title-uni{
  color: var(--red);
}
body#startpage .title-dev{
  color: var(--sapphire);
}
body#startpage .title-play{
  color: var(--green);
}
body#startpage .links{
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
body#startpage li{
  list-style-type: none;
}
body#startpage a{
  color: var(--text);
}
.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

